[user]
	email = 41101+adz@users.noreply.github.com
	name = Adam Davies
[alias]
	cleanup = !git branch --merged | grep -v -P '^\\*|master|develop' | xargs -n1 -r git branch -d
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[core]
	editor = vim
[pull]
	ff = only
